.card-tariff
{
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 16px 30px;
    background-color: #fff;
}

.tariff-name
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.tariff-list
{
    list-style: none;
    padding-left: 0;
}

.tariff-list .list-item
{
    font-size: 14px;
    margin-bottom: 6px;
    color: #7b7b7b;
    padding-left: 16px;
    position: relative;
}

.tariff-list .list-item:before
{
    content: '*';
    position: absolute;
    top: 2px;
    left: 0;
}

.tariff-price
{
    text-align: end;
    margin: 16px 0;
}

.tariff-button
{
    color: #ff9900;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ff9900;
    font-size: 15px;
}

.tariff-button:hover
{
    background-color: #ff9900;
    color: #fff;
}